<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>




    <ul>


        <!-- A -->
        <li>
           <a href="{{ path('pawlo_sort_show_form') }}">
               Sortowanie wg dlugosci slow by pawlo
           </a>
        </li>
        <!-- B -->

        <!-- C -->

        <!-- D -->
        <li>
            <a href="{{ path('dpyc_zadanie_show_form') }}">
                Zadanie 1 by dpyc
            </a>
        </li>            
        <!-- E -->
        
        <li>
            <a href="{{ path('annabiala94_convert_show_form') }}">
                Rzymskie na arabskie by annabiala94
            </a>
        </li>

        <!-- F -->
         <li>
            <a href="{{ path('furtakm_shortcut_show_form') }}">
                Shortcut by furtakm
            </a>
        </li>

        <!-- G -->

        <!-- H -->

        <!-- I -->

        <!-- J -->

        <!-- K -->
        <li>
            <a href="{{ path('kustra88_zadanie_show_form') }}">
                kustra88 - zadanie 1
            </a>
        </li>
        <!-- L -->

        <!-- M -->

        <!-- N -->

        <!-- O -->

        <!-- P -->

        <!-- Q -->

        <!-- R -->
        <li>
            <a href="{{ path('shuwax_sortowanie_show_form') }}">
                Sortowanie slow by shuwax
            </a>
        </li>
        <!-- S -->

        <!-- T -->

        <!-- U -->

        <!-- V -->

        <!-- W -->

        <!-- X -->
        <li>
            <a href="{{ path('kamajo5_zadanie_show_form') }}">
                kamajo5 - zadanie 1
            </a>
        </li>
        <!-- Y -->
        <li>
            <a href="{{ path('shuwax_dlugosc_show_form') }}">
                Dlugosc slow by shuwax
            </a>
        </li>
        <!-- Z -->
               <li>
+            <a href="{{ path('kzolnierz_zad1_show_form') }}">
+                Statystyka powtorzen wyrazow by kzolnierz
+            </a>
+        </li>


    </ul>


    {% block body %}{% endblock %}

    <footer>Version: 1.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
